@import 'colores';

%display_flex_card {
    display: flex;
    justify-content: center;
}

.logo-titulo {
    @extend %display_flex_card;
    margin: 5vh;
}


.personajes {
    display: grid;
    grid-template-columns: repeat(4, 22%);
    margin-top: 5vh;
    justify-content: space-between;
}

.personaje_item {
    @extend %display_flex_card;
    margin: 1.2vh;
    border-radius: 10px;
    background: #573722;
    flex-direction: column;
    flex-wrap: wrap;
    border: 2px black solid;
    transition: 0.4s;

        img {
            margin-top: 1vh;
            justify-content: center;
            align-self: center;
            width: 150%px;
            height: 200px;
            border: 3px black solid;
        }

        div {
            @extend %display_flex_card;
            flex-direction: column;
            align-items: center;

                h1, h2 {
                    margin: 1vh;
                }
        }


}

.personaje_item:hover{
    transform: translateY(-15px);
    box-shadow: 0 5px 5px 0 #07273a;
}